NODE_ENV=development
PORT=4000
BASE_URL=http://localhost:4000

# Postgres
HOST_POSTGRES_PORT=5433
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=url_shortener
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5433/url_shortener

# Redis
HOST_REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TTL_SECONDS=3600

# Frontend
HOST_FRONTEND_PORT=3000
VITE_API_URL=http://localhost:4000
